h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
}

main section {
    width: 33%;
}

.xl {
    font-size: x-large;
    font-weight: lighter;
    color: red;
}

.xxl {
    font-size: xx-large;
    font-weight: lighter;
    color: red;
}

.col-red {
    color: red;
}

.col-yellow {
    color: yellow;
}

.col-orange {
    color: orange;
}

button[name="submit"] {
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    color: #000;
    background: #fff;
}

button[name="submit"]:hover {
    color: #fff;
    background: #000;
}

.stock-list img {
    width: auto;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}
