h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
}

main section {
    width: 33%;
}

.x-times {
    font-size: xx-large;
    font-weight: lighter;
    color: red;
}

.col-red {
    color: red;
}

button[name="submit"] {
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    color: #000;
    background: #fff;
}

button[name="submit"]:hover {
    color: #fff;
    background: #000;
}
